.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  width: fit-content;
  overflow: hidden;
  z-index: 1;
}
.auth-h {
  display: none;
}
.auth_container {
  background-color: transparent;
  backdrop-filter: blur(15px);
  position: relative;
  /* background-color: var(--color-light-bg); */
  padding: 1rem;
  border: 0.2rem;
  animation: cubic-bezier(1, 1, 0, 0) 0.5s auth-translate 0s 1;
  transition: var(--transition);
}
.auth_container-h {
  background-color: transparent;
  backdrop-filter: blur(15px);
  position: relative;
  padding: 1rem;
  border: 0.2rem;
  animation: cubic-bezier(1, 1, 0, 0) 0.5s auth-translate-h 0s 1;
  transition: var(--transition);
  top: -19rem;
  right: -19rem;
}
@keyframes auth-translate {
  0% {
    top: -14rem;
    right: -13rem;
    border-radius: 100%;
  }
  100% {
    top: 0rem;
    right: 0rem;
    border-radius: 0%;
  }
}
@keyframes auth-translate-h {
  0% {
    top: 0rem;
    right: 0rem;
    border-radius: 0%;
  }
  100% {
    top: -17rem;
    right: -16rem;
    border-radius: 100%;
  }
}
