.createFeature {
  width: 100%;
  height: 100vh;
}
.createFeature_container {
  width: 20rem;
  flex-direction: column;
  overflow: hidden;
}
.createFeature_container input {
  width: 100%;
  margin: 0.5rem 0rem 0.5rem 0rem;
  background-color: transparent;
}
