.forgetPassword {
  width: 100%;
  height: 100vh;
}
.forgetPassword_container small {
  font-size: 0.55rem;
  margin: 0rem;
  padding: 0rem;
  position: relative;
  top: -0.5rem;
}
.forgetPassword_container {
  flex-direction: column;
  margin: 0.5rem;
  align-items: start;
}
.forgetPassword_container h6 {
  font-size: 1rem;
  padding: 0.2rem;
}
.forgetPassword_container-heading {
  width: 15rem;
}
.forgetPassword_container input {
  background-color: transparent;
  backdrop-filter: blur(15px);
  width: 15rem;
}
.forgetPassword_container-input {
  background-color: transparent;
  backdrop-filter: blur(15px);
  width: 15rem;
}
.forgetPassword_container-answer {
  margin: 1rem 0rem 1rem 0rem;
}
.forgetPassword_container-password {
  background-color: transparent;
  backdrop-filter: blur(15px);
}

.forgetPassword_container_password-icon {
  position: relative;
  right: 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  top: 0.2rem;
}

.forget-byemail {
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.forget-byemail--button {
  font-size: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
}
